.App-header {
  min-height: calc(100vh - 28px);
}

.header {
  width: 100%;
}

.center {
  text-align: center;
}

.all-content {
  display: grid;
  justify-content: center;
}

.test {
  position: absolute;
  /* margin-left: 17px; */
  left: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
